* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  min-width: 300px;
  max-width: 500px;
}

.repo-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}

.repo-display p {
  font-size: 1.5rem;
}
.repo-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes borderLining {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    opacity: 0.8;
  }
  50% {
    box-shadow: 0 0 5px 3px rgb(255, 0, 0);
    border-color: red;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    opacity: 0.8;
  }
}

/* Responsive */
@media (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }
}
