@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root {
  --background-clr: rgb(250, 250, 250);
  --ft-clr: rgb(13, 13, 13);
  --light-ft-clr: rgba(13, 13, 13, 0.517);
  --accent-clr: rgb(10, 142, 128);
  --accent-clr-dark: rgb(7, 106, 96);
  --accent-ft-clr: rgb(243, 243, 243);
  --card-gradient: linear-gradient(
    90deg,
    rgb(10, 142, 128),
    rgb(9, 127, 115) 100%
  );
  --shadow-color: 0deg 0% 62%;
  --shadow-color-btn: 174 90% 18%;
  --shadow-box: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-box-btn: 0.3px 0.5px 0.7px hsl(var(--shadow-color-btn) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-btn) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-btn) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-btn) / 0.36);
  --ft-weight-thin: 100;
  --ft-weight-bold: 900;
  --border-radius: 1.5rem;
  --transition: 100ms linear;
}

[data-theme="dark"] {
  --background-clr: rgb(15, 21, 27);
  --ft-clr: rgb(250, 250, 250);
  --light-ft-clr: rgba(250, 250, 250, 0.517);
  --accent-clr: rgb(7, 106, 96);
  --accent-clr-dark: rgb(5, 80, 72);
  --accent-ft-clr: rgb(200, 200, 200);
  --card-gradient: linear-gradient(90deg, rgb(7, 106, 96), rgb(5, 80, 72) 100%);
  --shadow-color: 210deg 47% 10%;
  --shadow-color-btn: 210deg 47% 15%;
  --shadow-box: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.4),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.4),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.4),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.4);
  --shadow-box-btn: 0.3px 0.5px 0.7px hsl(var(--shadow-color-btn) / 0.4),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-btn) / 0.4),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-btn) / 0.4),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-btn) / 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "Roboto";
  font-size: calc(15px + 0.390625vw);
  -webkit-font-smoothing: antialiased;
  color: var(--ft-clr);
  padding: 1rem;
  background: var(--background-clr);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: var(--ft-weight-bold);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  letter-spacing: 0.1rem;
}

.toggle-theme {
  background: none;
  border: none;
  cursor: pointer;
}

#moon_icon {
  color: var(--ft-clr);
}

.link-btn {
  border-radius: var(--border-radius);
  text-align: center;
  background-color: white;
  color: var(--accent-clr-dark);
  padding: 0.7rem 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  grid-area: Btn;
  max-width: 15rem;
  border: none;
  margin: 0 auto;
}

.link-btn:hover {
  background-color: var(--accent-clr-dark);
  color: white;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
}

.link-btn:focus,
.link-btn:active {
  margin: 0 auto;
}

.page-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* Header */

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-width: 3rem;
  max-width: 3rem;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 00 1rem;
  width: 100%;
  justify-content: space-around;
  max-width: 35rem;
}

.social {
  font-size: 2rem;
}

nav ul li {
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.nav-link:hover {
  background: var(--accent-clr);
  color: var(--accent-ft-clr);
}

nav ul li a {
  padding-inline: 1rem;
}

.active {
  color: var(--accent-ft-clr);
  background: var(--accent-clr);
  font-weight: var(--ft-weight-bold);
  letter-spacing: 0.05rem;
}

.light {
  color: var(--light-ft-clr);
}

/* main */
.title-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
}

.low-space {
  min-height: 15vh;
}
.title {
  padding: 1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.title:hover {
  box-shadow: 0 0 10px 2px hsl(var(--shadow-color) / 0.7);
  transform: scale(1.05);
  color: var(--accent-clr);
}

/* my-stuff | main */

.card-wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  justify-content: center;
  justify-items: center;
  max-width: 100rem;
  gap: 2.2rem;
  margin: 0 auto;
}

.overall {
  border-radius: var(--border-radius);
  background: var(--accent-clr);
  background: var(--card-gradient);
  color: var(--accent-ft-clr);
  max-width: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--shadow-box);
  transition: var(--transition);
  padding: 1rem;
}

.overall:hover {
  transform: scale(1.01);
}

.overall h3 {
  padding: 1rem 0;
}

.overall-sub-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  width: 100%;
  gap: 1rem;
  position: relative;
  padding: 0 1rem;
}

.overall-sub-container ul li::before {
  content: "-";
  margin-right: 0.5rem;
}

.project-link {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border-color: var(--accent-clr-dark);
  color: var(--accent-ft-clr);
  transition: border 200ms, box-shadow 200ms linear;
}

.project-link:hover {
  box-shadow: inset -2rem 0 0 0 var(--accent-clr-dark);
  /* box-shadow: inset -2rem 0 0 0 black; */
  border-bottom: 0.2rem solid var(--accent-clr-dark);
}

.experience p {
  padding-bottom: 1rem;
}

/* Reviews | main */

.reviews-container {
  margin: 4rem 0;
}

.reviews-container h3 {
  text-align: center;
}

.reviews {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: center;
  justify-content: center;
  max-width: 80rem;
  gap: 1rem;
  margin: 4rem auto;
}

.review {
  padding: 2rem;
  border-radius: var(--border-radius);
  max-width: 25rem;
  background: rgba(169, 169, 169, 0.244);
}

.review p {
  position: relative;
  letter-spacing: 0.1rem;
}
.review p:first-of-type::before {
  content: "‟";
  position: absolute;
  left: -1rem;
}
.review p:first-of-type::after {
  content: "„";
}
.review p:nth-of-type(2) {
  margin-top: 1rem;
  text-align: end;
}

/* Projects */

.projects .card-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: 100%;
}
.card {
  width: 100%;
  max-width: 25rem;
  border-radius: var(--border-radius);
  background-color: var(--accent-clr);
  background: var(--card-gradient);
  box-shadow: var(--shadow-box);
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--accent-ft-clr);
  justify-content: space-between;
  transition: var(--transition);
}

.card:hover {
  transform: translateY(-0.2rem);
}

.card__screenshot {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-box);
  width: 90%;
  transition: var(--transition);
}

.card h2 {
  margin-top: 65%;
}

.card a {
  max-width: 60%;
}

/* Articles */

.articles .card {
  max-height: 30rem;
  max-width: 18rem;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}

.card__header {
  max-height: 10rem;
}

.image {
  min-height: 10rem;
  width: 100%;
  border-radius: var(--border-radius);
}

.image1 {
  background: url(./assets/img/mexcan_food.jpg) center/cover;
}
.image2 {
  background: url(./assets/img/crypto.jpg) center/cover;
}
.image3 {
  background: url(./assets/img/marathon.jpg) center/cover;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.card__body p {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  margin: 0.7rem 0;
  border-radius: 1rem;
  font-size: 1rem;
  color: var(--accent-ft-clr);
}

.tag-food {
  background: rgb(174, 75, 14);
  background: linear-gradient(
    90deg,
    rgba(174, 75, 14, 1) 0%,
    rgba(176, 122, 88, 1) 100%
  );
}

.tag-tech {
  background: rgb(130, 32, 179);
  background: linear-gradient(
    90deg,
    rgba(130, 32, 179, 1) 0%,
    rgba(157, 103, 184, 1) 100%
  );
}

.tag-sport {
  background: rgb(41, 89, 171);
  background: linear-gradient(
    90deg,
    rgba(48, 89, 171, 1) 0%,
    rgb(33, 133, 176) 100%
  );
}

.author {
  display: grid;
  grid-template-columns: 20% 80%;
}

.author img {
  border-radius: 99rem;
}

.author__info {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}
/* Contact */

form {
  max-width: 50rem;
  height: 100%;
  padding: 2rem;
  background: var(--accent-clr);
  background: var(--card-gradient);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-box);
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 7rem 10rem;
  grid-template-areas:
    "Na Em"
    "Me Me"
    "Btn Btn";
  color: var(--accent-ft-clr);
}

input[type="text"],
input[type="email"],
textarea,
input:focus :not(.link-btn) {
  background: var(--background-clr);
  border-radius: var(--border-radius);
  color: var(--ft-clr);
  border: none;
  width: 100%;
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 1rem;
  font-size: 1rem;
  outline: none;
  min-height: 3rem;
}

textarea::-webkit-scrollbar {
  display: none;
}
.form-wrapper {
  padding: 0.6rem;
}

.name {
  grid-area: Na;
}

.email {
  grid-area: Em;
}

.message {
  grid-area: Me;
}

.message textarea {
  resize: none;
  min-height: 5rem;
}

/* footer */

footer {
  text-align: center;
  /* margin-top: auto; */
}

/* Media Queries */

@media screen and (max-width: 62rem) {
  .title-container {
    min-height: 30vh;
  }

  .card-wrapper,
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articles .card {
    max-width: 25rem;
  }
}

@media screen and (max-width: 45rem) {
  form {
    grid-template-rows: auto;
    grid-template-areas:
      "Na Na"
      "Em Em"
      "Me Me"
      "Btn Btn";
  }
}

@media screen and (max-width: 33rem) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    margin-block: 1rem;
    gap: 1rem;
  }

  .nav-link {
    width: 100%;
    max-width: 8rem;
    text-align: center;
  }

  .title-container {
    min-height: 20vh;
  }
}
