* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 200vh;
}
.cookie-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: hsl(210, 29%, 25%);
  color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.2);
  max-width: 300px;
  z-index: 1000;
  font-size: 1.1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(400px);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.cookie-icon img {
  width: 40px;
  height: 40px;
}

.cookie-text a {
  color: hsl(38, 85%, 54%);
  text-decoration: none;
}

.cookie-text a:hover {
  text-decoration: underline;
}

.cookie-accept {
  background: hsl(38, 85%, 54%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background 0.3s ease-in-out;
}

.cookie-accept:hover {
  background: hsl(23, 78%, 53%);
}

.cookie-close {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.cookie-close:hover {
  color: hsl(4, 78%, 58%);
}

.cookie-close::before {
  content: "✖";
  font-size: 1.2rem;
  color: hsl(0, 0%, 92%);
}

.cookie-close:hover::before {
  color: hsl(0, 100%, 50%);
}
